name=panda
type=moveit
gripper_topic=/panda/franka_gripper_node/gripper_action
joint_states_topic=/panda/joint_states
joints=panda_joint1,panda_joint2,panda_joint3,panda_joint4,panda_joint5,panda_joint6,panda_joint7
move_group_topic=/panda/move_group
move_group=panda_arm_EE
compute_ik=/panda/compute_ik
compute_fk=/panda/compute_fk
ef_link=panda_EE
